@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
html {
    background-color: rgba(254, 217, 237, 0.5);
}
    .primary_nav img {
        height: 40px;
    }
    .primary_nav ul li a {
        font-size: 24px;
    }
header {
    width: 100%;
}
    header h2 {
        color: rgb(103, 114, 157);
        font-size: 50px;
        font-weight: 900;
        text-align: center;
    }
    header img {
        width: 100%;
    }
.header_title h2 {
    color: white;
    position: absolute;
    left: 50%;
    text-transform: uppercase;
    top: 150px;
    transform: translateX(-50%); /*Solucion buscada en internet para centrar texto*/
}
   
.secondary_nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(103, 114, 157);
    margin-top: -3px;    /*Solucion temporaria*/
}
    .secondary_nav img {  
        height: 50px;
        filter: invert();
    }
    .secondary_nav img:hover {
        filter: none;
    }
.main_contain {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}
    .main_contain h1 {
        color: rgb(103, 114, 157);
        font-size: 32px;
        text-align: center;
        margin: 20px;
    }
    .main_contain p , .style-p {
        color: gray;
        font-size: 16px;
        text-align: center;
        line-height: 24px;
        margin: 30px 20px;
    }
    .main_contain img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }  
.main_contain_image {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "montaña1 montaña3 montaña5 montaña5"
    "montaña1 montaña4 montaña6 montaña7"
    "montaña2 montaña4 montaña8 montaña8";
}
.montaña1 {
    grid-area: montaña1;
}
.montaña2 {
    grid-area: montaña2;
}
.montaña3 {
    grid-area: montaña3;
}
.montaña4 {
    grid-area: montaña4;
}
.montaña5 {
    grid-area: montaña5;
}
.montaña6 {
    grid-area: montaña6;
}
.montaña7 {
    grid-area: montaña7;
}
.montaña8 {
    grid-area: montaña8;
}

    .main_contain_image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: grayscale();
    }
    .main_contain_image :hover {  /*prueba hover, se intentó agrandar la imagen, pero el efecto no fué el deseado*/
        filter: none;
    }
    /* starts footer*/
    footer ul {
        list-style: none;
    }
        footer ul li a {
            text-decoration: none;
            color: rgb(254, 217, 237);
        }
        footer ul :hover {      /*prueba hover*/
            color: rgb(187, 156, 192)
        }
.template_area_footer {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgb(103, 114, 157);
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px auto 40px;
    grid-template-areas: 
    "logo redes redes redes"
    "links_1 links_2 links_3 links_4"
    "copi copi copi copi ";
}
.logo_footer {
    grid-area: logo;
}
    .logo_footer img {
        height: 50px;
    }
.redes {
    grid-area: redes;
}
    .redes a {
        margin: 10px; 
        color: rgb(254, 217, 237);  
    }
.links_1 {
    grid-area: links_1;
}
.links_2 {
    grid-area: links_2;
}
.links_3 {
    grid-area: links_3;
}
.links_4 {
    grid-area: links_4;
}
.copyright {
    color: rgb(254, 217, 237);
    grid-area: copi;
}
 /* ends footer */  
/* starts page places */
.row article{
    margin-bottom: 10px;
}
.nb-bg {
    background-color: rgb(103, 114, 157);
}
.title-places {
    color: rgb(103, 114, 157);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px;
}
.bg-custom {
    background-color: rgb(103, 114, 157); 
    color: rgb(254, 217, 237);
}
/* ends page places*/
/* starts page activities*/
.s-icon i {
    color: red;
    font-size: x-large;
}

/* endss page activities*/
/*starts section accommodation*/
.color {
    background-color: rgb(247, 236, 242);
}
input[type="checkbox"].color:checked {
    background-color: rgb(103, 114, 157); 
    border-color: rgb(40, 61, 145); 
}
.strong {
    font-weight: 700;
}
/*ends section accommodation*/
/*starts section contact*/
.form-floating {
    margin: 10px auto;
}
.form-signin {
    max-width: 330px;
    padding: 1rem;
}
.bg-input {
    background-image: url(../img/aterdecerruta.webp);
    background-size: cover;
    padding: 10px;
} 
.bg-form {
    background: transparent;
    backdrop-filter: blur(14px);
}
/*ends section contact*/
/*media queries*/
@media (width <= 500px) {
    header {
        display: flex;
        justify-content: center;
    }
        header img {
            height: 100vh;
            width: auto;
        }
        .header_title h2 span {
            color: #383a39;
        }
        .main_contain {
            flex-direction: column;   
        }
        .main_contain h1 {
            font-size: 24px;
        }
        .template_area_footer {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            grid-template-areas: 
            "logo redes"
            "links_4 links_4"
            "copi copi ";
        }
        .links_1,.links_2,.links_3 {
            display: none;
        }
        /*Contact*/
        .container {
            width: 70%;
        }
        /*Contact*/
    }
@media (width > 450px) {
    .ww-50 {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
   
}
@media (width < 860px) {
    .back_ground img {
        height:100vh;
        width: auto;
    }
}