.scale:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}
//animación corazón
.bi-heart {
  transition-duration: 1s;
  &:hover {
    scale: 2;
    color: red;
    text-shadow: 0 0 15px red;
    transition-timing-function: ease-in-out;
  }
}
//animación logo
.navbar-brand img {
  transition-duration: 1.2s;
  &:hover {
    filter: contrast(.5);
    transform: scale(1.2);
    cursor: pointer;
  }
}

//animación texto
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 2.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
//animation shadow cards


//prueba
@keyframes kenburns-bottom-left {
    0% {
      transform: scale(1) translate(0, 0);
      transform-origin: 16% 84%;
    }
    100% {
      transform: scale(1.25) translate(-20px, 15px);
      transform-origin: left bottom;
    }
  }
  .kenburns-bottom-left:hover {
	animation: kenburns-bottom-left 5s ease-out both;
}
.card {
    overflow: hidden;
}
